body{
    margin: 0;
    background: #ADA996;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.mainWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 370px;
    /* height: 500px; */
    border: 3px solid hsla(0, 0%, 13%, 0.7);
    border-radius: 8px;
    box-shadow: 2px 2px 5px;
    overflow: hidden;
    background-color: hsl(50, 12%, 76%);
    box-sizing: border-box;
    padding: 0px 15px;

}

.display{
    height: 75px;
    background-color: white;
    width: 90%;
    font-size: 3.75rem;
    text-align: right;
    align-content: center;
    padding-right: 8px;
    margin-top: 30px;
    border: none;
    border-radius: 8px;
    box-shadow: 3px 3px 5px inset;
}

.keypad{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 15px;
    margin-bottom: 25px;
    border: 1px solid black;
    border-radius: 10px;
    width: 90%;
    padding: 15px 15px;
    
}

button{
    padding: 15px 15px;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 2px rgba(0, 0, 0);
    font-size: 1.4rem;
    font-weight: bold;
    background-color: hsl(0, 0%, 46%);
    color: white;
    cursor: pointer;
    /* transition: height ease 0.2s, width ease 0.2s; */
    /* transition: height 0.3s; */
    /* transition: background-color ease 0.4s, font-weight ease 0.4s; */
    transition: background-color ease 0.4s;
}

button:hover{
    /* height: 57px;
    width: 57px; */
    /* padding: 25px 25px; */
    background-color: hsl(0, 0%, 86%);
    /* font-weight:800; */
}


#divide{
    background-color: hsl(33, 100%, 45%);
    transition: background-color ease 0.4s;
}

#divide:hover{
    background-color: hsl(0, 0%, 86%);
}
#multiply{
    background-color: hsl(33, 100%, 45%);
    font-size: 1.5rem;
    transition: background-color ease 0.4s;
}

#multiply:hover{
    background-color: hsl(0, 0%, 86%);
}
#subtract{
    background-color: hsl(33, 100%, 45%);
    font-size: 1.6rem;
    transition: background-color ease 0.4s;
}

#subtract:hover{
    background-color: hsl(0, 0%, 86%);
}

#add{
    background-color: hsl(33, 100%, 45%);
    transition: background-color ease 0.4s;
}

#add:hover{
    background-color: hsl(0, 0%, 86%);
}

#decimal{
    font-size: 1.6rem;
}

#equal{
    background-color: hsla(96, 85%, 32%, 0.856);
    grid-row-end: span 2;
    transition: background-color ease 0.4s;
}

#equal:hover{
    background-color: hsl(0, 0%, 86%);
}

#clear{
    /* background-color: rgba(0, 0, 0, 0.705); */
    background-color: hsla(0, 100%, 32%, 0.856);
    grid-column-end: span 3;
    margin: 0px 35px;
    transition: background-color ease 0.4s;

}

#clear:hover{
    background-color: hsl(0, 0%, 86%);
}